
.links line {
    stroke: #999;
    stroke-opacity: 1;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 220px;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    text-align: left;
}

